* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #fd7272;
    font-size: 10rem;
}

.title {
    height: 50px;
    background: #eccc68;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.navbar-wrapper {
    width: 100%;
    height: calc(100vh - 100px); /*  100% of viewport minus the padding-top of .title and the height of .title */
    background: #eccc68;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 40rem;
    height: 40rem;
    background-color: #fd7272;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(0) rotate(-180deg);
    transition: transform 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.change .navbar {
    transform: scale(1) rotate(0);
    transition: all 1s;
}

.navbar-link {
    position: absolute;
}

.navbar-link i {
    font-size: 5rem;
    color: #fff;
    transition: color 0.3s;
}

.navbar-link:hover i {
    color: #222;
}

.navbar-link:nth-child(1) {
    top: 4rem;
}

.navbar-link:nth-child(2) {
    top: 12rem;
    right: 4rem;
}

.navbar-link:nth-child(3) {
    bottom: 12rem;
    right: 4rem;
}

.navbar-link:nth-child(4) {
    bottom: 4rem;
}

.navbar-link:nth-child(5) {
    bottom: 12rem;
    left: 4rem;
}

.navbar-link:nth-child(6) {
    top: 12rem;
    left: 4rem;
}

.navbar-btn {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background: #4a69bd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-btn i {
    font-size: 4rem;
    color: #fff;
    transition: transform 0.5s;
}

.change .navbar-btn i {
    transform: rotate(45deg);
}